body{
	background-color: none;
}

#stop {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: red;
        position: fixed;
        left: 30px;
        top: 30px;
    }  
    
 #ready {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: orange;
        position: fixed;
        left: 200px;
        top: 30px;
    }

#go {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: green;
        position: fixed;
        left: 370px;
        top: 30px;
    } 

#wait {
      	position: fixed;
        left: 540px;
        top: 30px;
    }

#walk {
      	position: fixed;
        left: 710px;
        top: 30px;
    }


#stop01 {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: red;
        position: fixed;
        left: 30px;
        top: 200px;
    }  
    
 #ready01 {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: orange;
        position: fixed;
        left: 200px;
        top: 200px;
    }

#go01 {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: green;
        position: fixed;
        left: 370px;
        top: 200px;
    } 

#wait01 {
        position: fixed;
        left: 540px;
        top: 200px;
    }

#walk01 {
        position: fixed;
        left: 710px;
        top: 200px;
    }



